.register{
    .heading{
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
    .form{
        width: fit-content;
        margin: auto;
        table{
            padding: 10px;
            border-radius: 10px;
            margin-top: 4vh;
            background-color: whitesmoke;
            -webkit-box-shadow: 0px 0px 21px 5px rgba(133,129,133,1);
            -moz-box-shadow: 0px 0px 21px 5px rgba(133,129,133,1);
            box-shadow: 0px 0px 21px 5px rgba(133,129,133,1);
            margin-bottom: 10vh;
            tr{
                td{
                    padding: 5px;
                }
                .label{
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                }
                input[type=text], select {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    display: inline-block;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: white;
                    border: 2px solid lightblue;
                    &:focus{
                        border: 2px solid #2d5896;
                    }
                  }
                  .file{
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                  }
                  .file + label {
                      margin: auto;
                    font-size: 1.25em;
                    // font-weight: 700;
                    padding: 5px 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    color: white;
                    background-color: #2d5896;
                    display: inline-block;
                }
                
                .file:focus + label,
                .file + label:hover {
                    background-color: #3f5acc;
                }
                  select{
                      text-align: center;
                      text-transform: uppercase;
                      font-weight: 500;
                  }
                  button{
                      text-transform: uppercase;
                      background-color: #2d5896;
                      color: white;
                      border: none;
                      padding: 5px 10px;
                      font-size: 24px;
                      border-radius: 10px;
                      width: 100%;
                      cursor: pointer;
                  }
                  .error{
                      color: tomato;
                      text-transform: capitalize;
                      font-size: 10px;
                  }
                  .disable{
                      cursor: not-allowed;
                      opacity: 0.7;
                      pointer-events: none;
                  }
                  
                  
            }
        }
    }
}

@media screen and (max-width:600px){
    .register{
    .form{
        width: max-content;
        table{
            width: 80vw;
            tr{
                
                .label{
                    text-align: left;
                    padding: 10px;
                }
                margin-bottom: 3vh;
                td{
                    display: block;
                }
                
            }
        }
    }
}
}