.about{
    background-color: #2d5896;
    color: white;
    .heading{
        padding: 10vh;
        font-size: 2rem;
        text-align: center;
        text-transform:uppercase;
    }
    .container{
        display: flex;
        padding-bottom: 10vh;
        justify-content: space-around;
        .card{
            max-width: 300px;
            border: 2px solid white;
            color: #2d5896;
            background-color: white;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 10px;
            margin-top: 5vh;
            padding: 10px;
            .icon{
                font-size: 50px;
                margin: auto;
                width: fit-content;
            }
            .title{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:600px){
    .about{
        .container{
            display: block;
            .card{
                margin: auto;
                margin-bottom: 10vh;
            }
        }
    }
}