.banner{
    height: 100vh;
    background-color: #2d5896;
    display: flex;
    align-items: center;
    .headline{
        flex:1;
        color: white;
        margin: 2vh;
        font-size: 24px;
        text-align: center;
        .button{
            border:2px solid white;
            color: #2d5896;
            font-weight: 600;
            font-size: 25px;
            margin-top: 2vh;
            padding: 5px 10px;
            transition-duration: 230ms;
            cursor: pointer;
            &:hover{
                background-color: transparent;
                color: white;
            }
        }
    }
    .image{
        flex:2;
        // overflow: hidden;
        display: flex;
        justify-content: center;
        .card{
            height: 300px;
            width: 200px;
            border-radius: 10px;
            text-align: center;
            .title{
                font-size: 42px;
                text-transform: uppercase;
            }
            .icon{
                margin-top: 3vh;
                font-size: 50px;
            }
            .qr{
                font-size: 50px;
            }
            .name{
                margin-top: 3vh;
                font-size: 30px;
            }
        }
        .card-1{
            background-color: white;
            color: black;
        }
        .card-2{
            background-color: black;
            color: #2d5896;
            margin-left:3vh;
            transform: rotate(20deg);
        }
    }
}