.header{
    display: flex;
    position: sticky;
    top:0;
    background-color: white;
    border-bottom:2px solid #2d5896;
    z-index: 3;
    color: #2d5896;
    justify-content: space-between;
    font-size: 1.5rem;
    .header-left{
        display: flex;
        transition-duration: 200ms;
    }
    .header-right{
        // display: none;
        .btn{
            font-weight: 600;
            padding: 10px;
            text-transform: uppercase;
            cursor: pointer;
            transition-duration: 200ms;
            box-shadow: none;
            
            background-color: white;
            color: #2d5896;
            &:hover{
                box-shadow: none;
                padding: 10px 30px;
                background-color: #2d5896;
                color: white;
                
                
            }
        }
    }
    .header-item{
        font-weight: 400;
        padding: 10px;
        cursor: pointer;
        transition-duration: 220ms;
        &:hover{
            -webkit-box-shadow: 0px 0px 21px 5px rgba(133,129,133,1);
            -moz-box-shadow: 0px 0px 21px 5px rgba(133,129,133,1);
            box-shadow: 0px 0px 21px 5px rgba(133,129,133,1);
            box-shadow: none;
            padding: 10px 30px;
            background-color: #2d5896;
            color: white;
        }
        .sidebar{
            display: none;
        }
    }

}

@media screen and (max-width:600px){
    .header{
        .header-left{
            display: block;
            height:50px;
            overflow: hidden;
        }
        .header-item{
            .sidebar{
                display: inline-block;
            }
            &:hover{
                box-shadow: none;
            }
        }
    }
}