.view{
    max-width: fit-content;
    margin: auto;
    tr{
   
    td{
        text-align: center;
        padding: 5px 10px;
        background-color: skyblue;
        border: 1px solid white;
        
    }
    .key{
        background-color: #2d5896;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
}
}