.event-stats{
    flex: 3;
    position: relative;
    z-index: 0;
    .charts{
        padding: 3vh;
        padding-bottom: 7vh;
    }
    .table{
    max-width: 75vw;
    overflow-x: auto;
    .data-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
       
        width: 100%;
        td,th {
            border: 1px solid #ddd;
            padding: 8px;
          }
          tr:nth-child(even){background-color: #f2f2f2;}
          tr:hover {background-color: #ddd;}
          th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #2d5896;
            color: white;
            text-transform: uppercase;
            text-align: center;
          }
      }
      
      
      
    }
}

@media  screen and (max-width:950px){
    .event-stats{
    .table{
        max-width: 100%;
    }}
}